/* css styles */
.container {
    display: flex;
    justify-content: space-between;
  }
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #3498db;
    color: #3498db;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #3498db;
    color: #fff;
  }
  
  .next {
    margin-left: auto;
  }
  
  .prev {
    margin-right: auto;
  }  